.circle-overlay {
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  /*it's buggy with the foreignObject background right now*/
  /*background-color: rgba(255,255,255,0.5);*/
}
.circle-overlay__inner {
  color: white;
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}
.hidden {
  display: none;
}
.node-icon--faded {
  opacity: 0.2;
}
.legend-size circle {
  fill: '#000';
}
